/* General Styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #f5f5f5;
    color: #444;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  ul {
    list-style: none;
  }
  h1, h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  
  input, button {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 1rem;
  }
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  button:hover {
    background-color: #0069d9;
  }

  /* Navigation */
  nav {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    margin-left: 1rem;
  }
  nav ul li:first-child {
    margin-left: 0;
  }
  nav ul li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    transition: all 0.2s ease-in-out;
  }
  nav ul li a:hover {
    color: #007bff;
  }

  /* Selected Items */
  .SelectedItems {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin: 2rem auto;
    max-width: 600px;
    padding: 2rem;
  }
  .SelectedItems p {
    margin-bottom: 1rem;
  }
  #cart_total {
    font-weight: 700;
  }

  /* Contact Info */
  .ContactInfo {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin: 2rem auto;
    max-width: 600px;
    padding: 2rem;
  }
  .ContactInfo h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .ContactInfo p {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .ContactInfo input {
    margin-bottom: 1.5rem;
  }

  /* Payment Info */
  .PaymentInfo {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin: 2rem auto;
    max-width: 600px;
    padding: 2rem;
  }
  .PaymentInfo h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.PaymentInfo p {
font-weight: 600;
margin-bottom: 0.5rem;
}
.PaymentInfo input {
margin-bottom: 1.5rem;
}

/* Continue Button */
.Cont {
margin: 2rem auto;
max-width: 600px;
text-align: center;
}
